# Python
__pycache__/
*.pyc
.env
venv/
*.egg-info/

# Data files
# ---
# WARNING: Be careful if you use Git LFS.
# For now, we will ignore all data directories.
data/raw/
data/processed/
data/final/

# IDE
.vscode/
.idea/

.env
